body{
  padding: 20px;
  margin: 0;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
}

#topmenu{
  background-color: darkgrey;
  display: block;
  height: 50px;
  width: 100%;
}

.hidden {
  display: none;
}

.left-menu-item-text {
  margin-left: 5px;
}

.left-menu-open {
  background-color: darkolivegreen;
  display: block;
  height: 100%;
  width: 150px;
  left: 0;
  top: 0;
  position: absolute;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}

.left-menu-open ul {
  list-style: none;
  padding-left: 0; 
}

.left-menu-open ul li {
  padding: 10px;
}

.left-menu-open ul li a {
  
}

.left-menu-close {
  background-color: darkolivegreen;
  display: block;
  height: 100%;
  width: 50px;
  left: 0;
  top: 0;
  position: absolute;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
}

.left-menu-close ul {
  list-style: none;
  padding-left: 0; 
}

.left-menu-close ul li {
  padding: 10px;
}

.left-menu-close ul li a {
  
}

.left-menu-toggle {
  display: block;
  height: 30px;
  width: 60px;
  right: 10px;
  bottom: 10px;
  position: absolute;
  border: solid 1px;
  border-radius: 5%;
}

[type=password], [type=text], [type=date], select {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
  height: 24px;
}

textarea{ 
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
} 

.error {
  border: 1px solid red;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
  border-color: #ddd;
  border-radius: 4px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}