body {
  margin: 0;
  text-align: left;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #333;
  background-color: #f5f8fa
}

#topmenu-container {
  position: relative;
  width: 100%;
  background-color:#3197D1;
  display: block;
  height: 50px;
}

.topmenu {
  left: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.user-profile {
  margin-right: 10px;
  color: #fff;
  float: right;
}

.user-profile img {
  border-radius: 50%;
}

#content-container {
  background-color: #555;
  width: 100%;
}

.hidden {
  display: none;
}

.left-menu-item-text {
  margin-left: 5px;
}

.left-menu-open {
  background-color: #F4F8FA;
  display: block;
  width: 150px;
  left: 0;
  position: absolute;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
  border: solid 1px #DFDFDF;
}

.left-menu-open ul {
  list-style: none;
  padding-left: 0; 
}

.left-menu-open ul li {
  padding: 10px;
}

.left-menu-close {
  background-color: #F4F8FA;
  display: block;
  width: 50px;
  left: 0;
  position: absolute;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
  border: solid 1px #DFDFDF;
}

.left-menu-close ul {
  list-style: none;
  padding-left: 0; 
}

.left-menu-close ul li {
  padding: 10px;
}

.left-menu-toggle {
  display: block;
  height: 30px;
  width: 50px;
  bottom: 10px;
  position: absolute;
  border: solid 1px #DFDFDF;
}

input[type=password], input[type=text], input[type=date] {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
  height: 24px;
  min-width: 250px;
}

select {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
  height: 24px;
  min-width: 150px;
}

textarea { 
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
} 

.error {
  border: 1px solid red!important;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
  border-color: #ddd;
  border-radius: 4px;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}

.library-item {
  border-radius: 5px;
  border: solid 1px #CED4DA;
  background-color: #fff;
  padding: 0;
  height: 250px;
  display: block;
  margin-bottom: 20px;
}

.library-image {
  float: left;
  width: 250px;
  height: 250px;
  display: block;
  margin-right: 15px;
}

.library-details {
  float: left;
  text-align: left;
  width: 800px;
  height: 250px;
  display: block;
  margin-left: 100px;
}

.library-details-rigth {
  float: right;
  display: block;
  height: 250px;
  width: 250px;
  background-color: #fff;
  text-align: center;
  background-color: #CED4DA;
}

.search {
  padding: 15px;
  border-radius: 5px;
  border: solid 1px #CED4DA;
  margin-bottom: 20px;
  background-color: #fff;
  width: 50%;
  display: block;
  height: 50px;
}

.search button {
  height: 29px;
}

.alert {
  background-color: #d9534f;
  border-color: #D23330;
  border-radius: 4px;
  min-width: 200px;
  width: auto;
  height: 20px;
  color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  padding: 10px;
}

.alert .alert-close {
  cursor: pointer;
  display: block;
  border-color: #D23330;
  background-color: #d9534f;
  width: 15px;
  height: 15px;
  color: #fff;
  padding: 0;
  position: relative;
  float: right;
  font-size: 10px;
} 

.warning {
  background-color: #FBE8CD;
  border-color: #FCEFDC;
  border-radius: 4px;
  min-width: 200px;
  width: auto;
  height: 20px;
  color: #886738;
  display: block;
  position: absolute;
  left: 50%;
  padding: 10px;
}

.warning .warning-close {
  cursor: pointer;
  display: block;
  border-color: #FBE8CD;
  background-color: #FCEFDC;
  width: 15px;
  height: 15px;
  color: #886738;
  padding: 0;
  position: relative;
  float: right;
  font-size: 10px;
}