body {
  margin: 0;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
  background-color: #f5f8fa
}

.center {
  text-align: center;
  margin: 0 auto;
}

#topmenu-container {
  width: 100%;
  background-color:#3197D1;
  margin: 0;
  height: 50px;
  display: block;
}

.topmenu-item {
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-align: center; 
  margin: 0;
  padding: 0 20px;
}

.topmenu-item .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.topmenu-item img {
  vertical-align: middle;
  max-height: 30px;
  max-width: 300px;
}

.topmenu-item a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.topmenu-item a:hover {
  text-decoration: underline;
}

.user-profile {
  float: right;
  color: #fff;
}

.user-profile img {
  border-radius: 50%;
}

#content-container {
  width: 100%;
  float: left;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

#leftmenu {
  float: left;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

#content {
  /*background-color: #fff;*/
  padding: 10px 10px 10px 25px;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.left-menu-open {
  background-color: #FFF;
  display: block;
  width: 150px;
  left: 0;
  position: absolute;
  padding: 20px 10px 0px 10px;
  text-align: left;
  border: solid 1px #DFDFDF;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.left-menu-open ul {
  list-style: none;
  padding-left: 10px;
  display: table;
  margin: 0;
}

.left-menu-open ul li {
  display: table-row;
}

.left-menu-open ul li a {
  text-decoration: none;
  display: block;
  height: 50px;
}

.left-menu-open ul li a:hover {
  text-decoration: underline;
}

.left-menu-item-text {
  margin-left: 10px;
}

.left-menu-close {
  background-color: #FFF;
  display: block;
  width: 50px;
  left: 0;
  position: absolute;
  padding: 20px 10px 0px 10px;
  text-align: left;
  border: solid 1px #DFDFDF;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.left-menu-close ul {
  list-style: none;
  padding-left: 10px;
  display: table;
  margin: 0;
}

.left-menu-close ul li {
  display: table-row;
}

.left-menu-close ul li a {
  text-decoration: none;
  display: block;
  height: 50px;
}

input[type=password], input[type=text], input[type=date] {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
  height: 24px;
  min-width: 250px;
}

select {
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
  height: 24px;
  min-width: 150px;
}

textarea { 
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #555;
} 

.error {
  border: 1px solid red!important;
}

.button-primary {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-color: #3097D1;
  background-color: #3097D1;
  color: #fff;
  border-radius: 20px;
  padding: 5px 20px; 
}

.button-primary:hover {
  border-color: #2781B3;
  background-color: #2781B3;
}

.button-primary:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button-secondary {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-color: #d4dbe0;
  background-color: #d4dbe0;
  color: #212529;
  border-radius: 20px;
  padding: 5px 20px; 
}

.button-secondary:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

fieldset {
  padding: 20px;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 70%;
  background-color: #fff;
}

legend {
  font-weight: bold;
  padding: 0 10px;
}

.box-library {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  background-color: #fff;
  width: 70%;
  display: block;
  min-height: 50px;
  overflow: hidden;
}

.library-item {
  border-radius: 5px;
  border: solid 1px #CED4DA;
  background-color: #fff;
  padding: 0;
  height: 150px;
  display: block;
  margin-bottom: 20px;
}

.library-image {
  float: left;
  width: 20%;
  height: 150px;
  display: block;
  margin: 0;
}

.library-image img { 
  width: 100%;
  height: 168px;
}

.library-details {
  float: left;
  text-align: left;
  display: block;
  width: 57%;
  padding: 8px;
  height: 150px;
}

.library-details a {
  text-decoration: none;
  color: #333333;
}

.library-details a:hover {
  text-decoration: underline;
}

.library-details .no-border {
  border: 0;
}
.library-details div {
  padding: 8px 0;
  border-top: 1px solid #E5E5E5;
}

.library-details h3 {
  margin: 0;
  margin-bottom: 8px;
}

.library-details-rigth {
  margin: 0 auto;
  float: right;
  background-color: #fff;
  text-align: center;
  width: 20%;
  min-height: 168px;
  line-height: 168px;
}

.library-details-rigth a {
  background-color: rgb(66, 133, 0);
  color: #fff;
  height: 40px;
  width: 150px;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 40px;
}

.library-details-rigth a:hover {
  text-decoration: underline;
}

.box {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  background-color: #fff;
  width: 70%;
  display: block;
  min-height: 50px;
  height: auto;
}

.button-search {
  border-radius: 4px;
  background-color: #d4dbe0;
  color: #000;
}

.box-alert {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #F5C6CA;
  margin-bottom: 20px;
  background-color: #F8D7DA;
  width: 70%;
  display: block;
  height: auto;
  color: #721C23;
  animation: bounceIn 0.8s;
  -webkit-animation: bounceIn 0.8s;
}

.box-alert ul {
  list-style: none;
}

.box button {
  height: 29px;
}

.form label {
  width: 100%;
  margin-bottom: 5px;
}

form figure {
  margin: 5px 0; 
}

.form input[type=text], input[type=password], input[type=number], input[type=date], textarea, select {
  width: 99%;
  margin: 5px 0;
}

.row {
  width: 99%;
  height: auto;
  padding: 5px;
  margin-bottom: 5px;
  clear: both;
  display: block;
  overflow-y: auto;
  text-align: left;
}

.col-12 {
  width: 98%;
  height: auto;
  padding: 5px;
  float: left;
}

.col-6 {
  width: 48%;
  height: auto;
  padding: 5px;
  float: left;
}

.col-4 {
  width: 31%;
  height: auto;
  padding: 5px;
  float: left;
}

.col-2 {
  width: 23%;
  height: auto;
  padding: 5px;
  float: left;
}

.red {
  color: red;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60%{
    transform: scale(1.2);
    opacity: 1;
  }
  100%{
    transform: scale(1);
  }
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
}

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
}

table thead { 
  font-weight: bold;
  padding: 5px;
  border: 2px solid #D3E0E9;
  margin-bottom: 10px;
}

table thead td {
  padding: 15px;
}

table tbody tr {
  background-color: #FFF;
  border-top: 1px solid #D3E0E9;
  border-bottom: 1px solid #D3E0E9;
}

table tbody tr:hover {
  background-color: #ECECEC;
}

table tbody td {
  padding: 10px;
}

#profile-menu {
  z-index: 100;
  position: absolute;
  border: 1px solid #DFDFDF;
  margin: 0;
  right: 10px;
}

#profile-menu ul {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  background-color: #FFFFFF;
  width: 100px;
}

#profile-menu ul li {
  padding: 5px 10px;
  line-height: 30px;
  background-color: #FFFFFF;
  text-align: left;
}

#profile-menu ul li a {
  text-decoration: none;
  color: #3097D1;
}

#profile-menu ul li a:hover {
  color: #206A94;
}

#user-profile-trigger {
  text-decoration: none;
}

#library {
  text-align: left;
}

#library .image {
  float: right;
}

.user-box {
  display: block;
  padding: 0;
  width: 370px;
}

.user-box-top {
  display: box;
  background-color: #F7F7F7;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  height: 150px;
}

.user-box-bottom {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  min-height: 150px;
  height: auto;
  padding: 5px;
}

.user-box-bottom img {
  border-radius: 50%;
  margin-top: -50px;
}

.login-box {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 30%;
  min-height: 50px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
}

.login-box input[type=text], input[type=password] {
  width: 100%;
}

.login-box-alert {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #F5C6CA;
  margin-bottom: 20px;
  background-color: #F8D7DA;
  width: 30%;
  display: block;
  height: auto;
  color: #721C23;
  animation: bounceIn 0.8s;
  -webkit-animation: bounceIn 0.8s;
}

.login-box-alert ul {
  list-style: none;
}
#hideAll
 {
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }
/*Books*/

 .bookImage{
  text-align:center;
}
.bookDetails{
  text-align:center;
}
.comercialDetails{
  text-align:center;
}
#txt_year{
  width: 150px
}
#slt_language{
  width: 150px
}
#txt_price{
  width: 150px
}
#txt_quantity{
  width: 150px
}
.createLink{
  text-align: end
}
/*Clubs*/

.clubDetails{
  text-align:center;
}
.clubSchedule{
  text-align:center;
}
.clubLocation{
  text-align:center;
}
#slt_type{
  width: 150px
}
#slt_genre{
  width: 150px
}
#slt_day{
  width: 150px
}
#slt_startTime{
  width: 150px
}
#slt_endTime{
  width: 150px
}